.bodytop-background{
    padding-top: 31%;
    margin-top: 62.2px;
    background-size: cover;
}
.bodytop-background-disc{
    background-image: url("../Img/DiscSyndrome/thoat-vi-dia-dem.jpg");
}

.bodytop-background-scia{
    background-image: url("../Img/sciatica/than-kinh-toa-1.jpg");
}

.bodytop-background-neck{
    background-image: url("../Img/Neckpain/thoai-hoa-dot-song-co-desktop-1.jpg");
}
.bodytop-background-head{
    background-image: url("../Img/Headaches/dau-dau-desktop-1.jpg");
}
.bodytop-background-foot{
    background-image: url("../Img/foot/dau-chan-desktop.jpg");
}
.bodytop-background-elbow{
    background-image: url("../Img/elbow/dau-khuyu-tay-desktop.jpg");
}
.bodytop-background-wrist{
    background-image: url("../Img/wrist/dau-co-tay-desktop.jpg");
}
.bodytop-background-low{
    background-image: url("../Img/low/dau-that-lung-desktop.jpg");
}

.discsyndrome{
    margin-top: 3rem;
    max-width: 1000px !important;
}

.bodytop-background{
    position: relative;
}

.bodytop-background-content {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 40%;
}

p:first-child,.p1{
    margin-top: 0.5rem!important;
    margin-bottom: 1.5rem!important;
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
}

h1{
    margin: 1.5rem 0 0 ;
}
h3{
    display: inline-block;
}
.img1{
    margin: 1.5rem 0;
}
ul li{
    margin: 7px 0;
}