*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.s-12{
    font-size: 1.2rem;
}
.s-14{
    font-size: 1.4rem;
}
.s-16{
    font-size: 1.6rem;
}
.s-18{
    font-size: 1.8rem;
}
.s-20{
    font-size: 2rem;
}
.s-24{
    font-size: 2.4rem;
}
.s-30{
    font-size: 3rem;
}
.s-36{
    font-size: 3.6rem;
}
.s-40{
    font-size: 4rem;
}
.FAF7F2{
    background: #FAF7F2;
}
/* Nav */

.logo{
    width: 12%;
}

nav{
    position: fixed !important;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

nav .navs{
    max-width: 95%;
}

.navs .navs-content{
    font-weight: 500;
    text-transform: uppercase;
}

ul .nav-item{
    margin: 0 10px;
    animation: TopDrop ease 1s;
}

ul .nav-item:hover{
    border-bottom: 1px solid black;
}

.dropdown-menu .dropdown-item{
    font-size: 1.6rem;
    text-transform:none;
    z-index: 10 !important;
}

.dropdown:hover .dropdown-menu-first,
.dropdown:hover .dropdown-menu-second,
.dropdown:hover .dropdown-menu-third{
    position: relative;
    animation: SlowShow ease 0.7s;
    display: block;
}

.container-search_input{
    text-indent: 15px;
}

.container-search_input:focus{
    outline: none;
}

.container-search_btn{
    background-color: white;
    color: rgba(14, 14, 14,0.5);
}

/* BODY */

/* background */
.background-top{
    padding-top: 45%;
    margin: 72px 0 0 0;
    background: url("../Img/body1.jpg");
    background-position: top center;
    background-size: cover;
    position: relative;
} 

.background-content{
    position: absolute;
    text-shadow: 1px 1px 0px black;
    opacity: 0.8;
    top: 60%;
    right: 0%;
}
.background-content .background-title{
    font-weight: 350;
    max-width: 600px;
}

.background-content .background-text{
    max-width: 490px;
}

/* doctor */
.carousel-inner .carousel-doctor img{
    border: 1px solid rgb(190, 189, 189);
    border-radius: 50%;
    width: 152px !important;
    height: 152px;
    margin: 0 30px;
}
.carousel-item .d-flex p{
    max-width: 700px;
    min-height: 192px;
    text-align: justify;
    font-style: italic;
}
.carousel-indicators{
    opacity: 0.3;
    bottom: -30px !important;
}

/* product */
.owl-carousel{
    max-width: 1000px !important;
}

.owl-stage-outer::after{
    content: "";
    background-color: #fff;
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;   
}
.owl-stage-outer::before{
    content: "";
    background-color: #fff;
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: 0.4;
    top: 0;
    right: 0;
    z-index: 1;
}

.owl-nav{
    display: none;
}

.item button{
    border-radius: 10px;
}

/* Problems */
.cardd{
    width: 20% !important;
}
.card-body a{
    border: 1px solid;
}
/* featback */
.featback{
    
}
/* footer */
.footer{
    border-top: 1px solid black;
}
@keyframes SlowShow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes TopDrop {
from{
    opacity: 0;
    transform: translateY(-100%);
}
to{
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes LeftToRight {
  from{
    /* opacity: 0; */
    /* transform: translateX(-50%); */
    width: 50%;
  }
  to{
    /* opacity: 1; */
    /* transform: translateX(0); */
    width: 100%;
  }
}
